@use "../../../../styles/variables" as *;

.onboarding-view {
  background: $neutral-10;
  border: 1px solid $neutral-30;
  border-radius: 12px;
  box-shadow: $shadow-1;

  padding: 40px;
  color: $white;

  .wizard {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .step {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .step-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .step-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &.step-five-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        .instructions {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .ant-input {
          padding: 16px;
        }
      }
    }
    .navigation-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .ant-form {
      .ant-form-item-optional {
        color: $white;
      }

      .ant-input-status-error {
        border-color: $error;
        box-shadow: none;
        background-color: $neutral-20;
        color: $white;
      }
    }

    .step-image {
      max-width: 100%;
      margin-left: auto;
    }
  }
}

.ant-modal.onboarding-success-modal {
  .ant-modal-content {
    background-color: $neutral-10;
    color: $white;

    .message {
      padding: 16px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border-radius: 4px;
    }

    .success-message {
      background-color: $dark-green;
    }

    .error-message {
      background-color: $error;
    }

    .error-icon {
      width: 50px;
      height: 50px;
      background-color: $error;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 24px;
      font-weight: bold;
      margin: 40px auto;
    }
  }

  .ant-modal-title {
    background-color: $neutral-10;
    color: $white;
  }

  .ant-modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      max-width: 250px;
      margin: auto;
    }
  }

  .ant-modal-footer {
    margin-top: 40px;
    .ant-btn {
      width: 100%;
      margin-inline-start: 0 !important;
      font-weight: bold;
      &.btn-danger {
        background-color: $error;
        margin-bottom: 1rem;
        &--secondary {
          border-color: $error;
          color: $error;
          &:hover {
            background-color: $error !important;
            color: #fff;
          }
        }
        &:hover {
          background-color: $error !important;
        }
      }
    }
  }
}
