@use "../../../../styles/variables" as *;

.onboarding-view {
  background: $neutral-10;
  border: 1px solid $neutral-30;
  border-radius: 12px;
  box-shadow: $shadow-1;

  padding: 40px;
  color: $white;

  .wizard {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .step {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .step-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .step-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &.step-five-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        .instructions {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .ant-input {
          padding: 16px;
        }
      }
    }
    .navigation-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.ant-modal.onboarding-success-modal {
  .ant-modal-content {
    background-color: $neutral-10;
    color: $white;

    .success-message {
      background-color: $dark-green;
      padding: 16px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }

  .ant-modal-title {
    background-color: $neutral-10;
    color: $white;
  }

  .ant-modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      max-width: 250px;
      margin: auto;
    }
  }

  .ant-modal-footer {
    margin-top: 40px;
    .ant-btn {
      width: 100%;
    }
  }
}
