@use "../../styles/variables" as *;

.auth-page {
  display: grid;
  grid-template-columns: 5fr 5fr;
  align-items: center;

  height: 94vh;
  padding: 24px;

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 64px;

    color: $white;
    padding: 0 80px;

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 24px;

      width: 100%;

      .sign-form {
        .ant-input {
          padding: 16px;
        }

        .ant-input-password {
          background: transparent;
          border-color: $neutral-30;
          border-radius: 6px;
          color: $white;
          cursor: text;

          padding: 16px !important;

          &:focus,
          &:hover {
            border-color: $neutral-30;
            background: $neutral-30;
            box-shadow: none;
          }

          .ant-input-suffix .anticon {
            color: $white;
          }

          .ant-input {
            padding: 0 !important;
          }
        }

        .submit-button {
          width: 100%;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          @include p;
          color: $neutral-60;
        }
      }
    }
  }

  .bg-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;

    background: $gradient-green,
      url("../../assets/bg/bg-1.jpg") lightgray center / cover no-repeat;
  }
}
